* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  /* border: 1px solid red; */
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

header {
  margin-top: 3%;
  font-size: 36px;
}

#calculator {
  height: 550px;
  width: 370px;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  background-color: black;
  padding: 15px;
  border-radius: 40px;
}

button {
  border-radius: 80%;
  font-size: 35px;
  font-weight: 5S00;
  background-color: white;
  color: white;
  cursor: pointer;

}

.number:active,
.dot:active {
  background-color: rgb(73, 73, 228);
  transition: background-color 0s;
}

#display {
  grid-area: 1 / 1 / span 1 / span 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.number,
.dot {
  background-color: rgb(43, 43, 241);
  transition: background-color 2.5s;
}

.number:active,
.dot:active {
  background-color: rgb(96, 96, 252);
  transition: background-color 0s;
}

.operator{
  background-color:darkorange;
}

.operator:focus{
  background-color: white;
  color: darkorange;
}

.equal {
  background-color:darkorange;
  transition: background-color 2.5s;
}

.equal:active {
  background-color:rgb(250, 188, 112);
  transition: background-color 0s;
}

.clear,
.sign,
.percentage {
  background-color: darkturquoise;
  transition: background-color 2.5s;
}

.clear:active,
.sign:active,
.percentage:active {
  background-color: rgb(99, 239, 241);
  transition: background-color 0s;
}

#zero {
  grid-area: 6 / 1 / span 2 / span 2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

footer {
  margin-bottom: 2%;
}